<h1>Your Merchants!</h1>
<div class="new-merch-container">
<a href="/new-merchant" class="button-1">Create a New Merchant?</a>
</div>

<% for merchant in @merchants %>
      <table class="content-table">
         <thead>
             <tr>
         <th>Name</th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class=<%= merchant.isactive == "1" ? "" : "grayout" %>>
         <%= merchant.name %>
         </td>
         <td>
            <form action="/merchants/<%= merchant.id %>/edit" method="POST">
               <button class="button-2" type="submit">edit</Button>
            </form>
         </td>
         <td>
            <form action="/merchants/<%= merchant.id %>/delete" method="POST">
               <button class="button-2" type="submit">delete</Button>
            </form>
         </td>
         <% if merchant.isactive == "1" %>
         <td>
            <form action="/merchants/<%= merchant.id %>/deactivate" method="POST">
               <button class="button-2" type="submit">deactivate</button>
            </form>
         </td>
         <% else %>
         <td>
            <form action="/merchants/<%= merchant.id %>/reactivate" method="POST">
               <button class="button-2" type="submit">reactivate</button>
            </form>
         </td>
         <% end %>
      </tr>
   </tbody>
</table>
   <% end %>
