<h1>Your Transactions!</h1>  <button><a href="/new-transaction">Create New Transaction?</a></button>

<ul>
<p>Your total amount spent: £<%= @transactions_total %></p> 
<form action="/sort">
<select name="sort">
    <option name="sort" value="created_at">Date created</option>
    <option name="sort" value="amount">Amount</option>
    <option name="sort" value="merchant_id">Merchant</option>
    <option name="sort" value="category_id">Category</option>
</select>
<input type="submit" value="sort" />
<%= params.inspect %>
</form>
<% for transaction in @transactions %>
    <li>
        <p><%= transaction.merchant.name %>  <%= transaction.category.name %>  <%= transaction.amount %></p>
        <form action="/<%= transaction.id %>/edit" method="POST">
        <input class="btn btn--danger" type="submit" value="edit" />
        </form> 
        <form action="/<%= transaction.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
        <p><%= transaction.ts %></p>
        </form>
    </li>
<% end %>
</ul>