<h1>Your Transactions!</h1>
<button><a href="/new-transaction">Create New Transaction?</a></button>
<ul>
   <p>Your total amount spent: £<%= @transactions_total %></p>
   <form action="/sort">
      <select class="select" name="sort">
         <% if @previous_param != nil %>
            <option name="sort" value="<%= @previous_param %>"><%= @previous_param %></option>
         <% end %>
         <% for attribute in @attributes %>
            <% if attribute != @previous_param %>
                <option name="sort" value=<%= attribute %>><%= attribute %></option>
            <% end %>
         <% end %>
      </select>
      <button class="button" type="submit">Sort</Button>

      
      <%= params.inspect %>
   </form>
   <% for transaction in @transactions %>
      <table class="content-table">
   <thead>
      <tr>
         <th>Merchant</th>
         <th>Category</th>
         <th>Amount</th>
         <th>Date</th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><%= transaction.merchant.name %></td>
         <td><%= transaction.category.name %></td>
         <td>£<%= sprintf("%.2f", transaction.amount) %></td>
         <td><%= transaction.created_at %></td>
         <td><form action="/<%= transaction.id %>/edit" method="POST">
               <input class="btn btn--danger" type="submit" value="edit" />
            </form>
         </td>
         <td><form action="/<%= transaction.id %>/delete" method="POST">
               <input class="btn btn--danger" type="submit" value="delete" />
            </form>
         </td>
      </tr>
   </tbody>
</table>
   <% end %>


<table class="content-table">
   <thead>
      <tr>
         <th>Merchant</th>
         <th>Category</th>
         <th>Amount</th>
         <th>Date</th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><%= transaction.merchant.name %></td>
         <td><%= transaction.category.name %></td>
         <td>£<%= sprintf("%.2f", transaction.amount) %></td>
         <td><%= transaction.created_at %></td>
         <td><form action="/<%= transaction.id %>/edit" method="POST">
               <input class="btn btn--danger" type="submit" value="edit" />
            </form>
         </td>
         <td><form action="/<%= transaction.id %>/delete" method="POST">
               <input class="btn btn--danger" type="submit" value="delete" />
            </form>
         </td>
      </tr>
   </tbody>
</table>

