<h1>Your Transactions!</h1>  <button><a href="/new-transaction">Create New Transaction?</a></button>

<ul>
<p>Your total amount spent: £<%= @transactions_total %></p>
<% for transaction in @transactions %>
    <li>
        <p><%= transaction.merchant.name %>  <%= transaction.category.name %>  <%= transaction.amount %></p>
        <form action="/<%= transaction.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
        </form>
    </li>
<% end %>
</ul>