<h1 class="heading-main">Your Categories!</h1>
<div class="new-tx-container category">
<a href="/new-category" class="button-1">Create a New Category?</a>
</div>
<ul>
<% for category in @categories %>
      <table class="content-table">
         <thead>
             <tr>
         <th>Tag</th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class=<%= category.isactive == "1" ? "" : "grayout" %>>
         <%= category.name %>
         </td>
         <td>
            <form action="/categories/<%= category.id %>/edit" method="POST">
               <button class="button-2" type="submit">edit</Button>
            </form>
         </td>
         <td>
            <form action="/categories/<%= category.id %>/delete" method="POST">
               <button class="button-2" type="submit">delete</Button>
            </form>
         </td>
         <% if category.isactive == "1" %>
         <td>
            <form action="/categories/<%= category.id %>/deactivate" method="POST">
               <button class="button-2" type="submit">deactivate</button>
            </form>
         </td>
         <% else %>
         <td>
            <form action="/categories/<%= category.id %>/reactivate" method="POST">
               <button class="button-2" type="submit">reactivate</button>
            </form>
         </td>
         <% end %>
      </tr>
   </tbody>
</table>
   <% end %>
